.wrapper{
    background-color: darkgray;
}

.infoContainer{
    padding-bottom: 30px;
}



header {
    margin-bottom: 30px;
    background-color: black;
    border-bottom: 1px solid black;
    box-shadow: 0px 5px 10px #f3bc56;
}

#search{
    width: 250px;
    height: 40px;
    margin-left: 13em;
}

img{
    width: 250px;
    height: 110px;
    margin: 1em;
}

#dropdownMenuButton{
    margin-top: 50px;
    margin-right: 4em;
    float: right;
}

footer {
    background-color: black;
    border: 1px black solid;
    div {
        list-style:  none;
        color: rgba(107, 181, 200, 0.637) ;
        text-align: center;
    }
}

// ---------------------------------------SIDE BAR--------------------------------------------
.sidebarLists li {
    list-style: none;
    color: rgba(0, 0, 0, 0.651);
    font-size: .85em;
}

.sideTitle{
    color:  rgb(255, 255, 129);
}

.col-4{
    margin-left: 0px;
}

.infoWrap{
    margin-left: 0px;
    margin-top: -40px;
    padding-left: 15px;
    background-color: black;
    color: lightgray;
    border: 1px solid black;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 15px #6BB5C8;
}

.attractionByArea{
    margin: 15px;
    height: 12em;
    width: 22em;
    overflow: scroll;
    border: 1px solid white;
    background-color:#6BB5C8;
    border-radius: 5px;
    box-shadow: -2px -2px 10px #f3bc56;
}
.currentEvents{
    margin: 15px;
    height: 12em;
    width: 22em;
    overflow: scroll;
    border: 1px solid white;
    background-color:#6BB5C8;
    border-radius: 5px;
    box-shadow: -2px -2px 10px #f3bc56;

}

.searchByTime{
    margin: 15px;
    height: 12em;
    width: 22em;
    overflow: scroll;
    border: 1px solid white;
    background-color:#6BB5C8;
    border-radius: 5px;
    box-shadow: -2px -2px 10px #f3bc56;
}

// -----------------------------------------------------------
//-------------------------------------------MAP------------------------------------------------
// -----------------------------------------------------------

.Map-Title{
    text-align: center;
    font-size: 40px;
    margin-top: -25px;
    margin-bottom: 20px;
}

#areaContainer{
    // float: right;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 33% 33% 33%;
    grid-template-areas: 
    "a1 a2 a3"
    "a4 . a5"
    "a6 a7 a8";
    margin: auto;
    padding: 10px;
    height: 600px;
    width: 600px;
}

.area{
    color: lightgray;
    border-radius: 50%;
    box-shadow:
    0 0 0 5px #BDFF9D,
    0 0 0 10px #CF861E,
    0 0 0 15px #6BB5C8;
    background: black;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 175px;  
}

.highlight{
    color: rgba(242, 243, 231, 0.699);
    border-radius: 50%;
    box-shadow:
    0 0 0 5px red,
    0 0 0 10px red,
    0 0 0 15px red;
    background: black;
    font-size: 30px;
    text-align: center;
}

.area1 {
    grid-area: a1;
}
.area1:hover{
    background-color: #730217;
}
.area2 {
    grid-area: a2;
}
.area2:hover{
    background-color: #D15530;
}

.area3 {
    grid-area: a3;
}
.area3:hover{
    background-color: #A37849;
}

.area4 {
    grid-area: a4;
}
.area4:hover{
    background-color: #2594D9;
}

.area5 {
    grid-area: a5;
}
.area5:hover{
    background-color: #E73C81;
}

.area6 {
    grid-area: a6;
}
.area6:hover{
    background-color: #3E4D8C;
}

.area7 {
    grid-area: a7;
}
.area7:hover{
    background-color: #730217;
}

.area8 {
    grid-area: a8;
}
.area8:hover{
    background-color: rgba(248, 248, 122, 0.986);
}

.area9 {
    grid-area: a9;;
}

.hidden {
    display: none;
}

.show {
    display: block;
}




