.wrapper {
  background-image: url("../image/disco-back.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

header {
  margin-bottom: 30px;
  background-color: rgba(43, 22, 17, 0.705);
  border-bottom: 1px solid black;
  box-shadow: 0px 4px 10px rgba(107, 181, 200, 0.637); }

#search {
  width: 350px;
  height: 40px;
  margin-left: 9em; }

img {
  width: 250px;
  height: 110px;
  margin: 1em; }

#dropdownMenuButton {
  margin-top: 50px;
  margin-right: 4em;
  float: right; }

footer {
  background-color: rgba(43, 22, 17, 0.705); }
  footer div {
    list-style: none;
    color: #ECE5C9;
    text-align: center; }

p {
  color: #4BA174; }

.infoContainer {
  padding-bottom: 30px; }

.sidebarLists li {
  list-style: none;
  color: #ECE5C9;
  font-size: .85em;
  font-family: 'Comfortaa', cursive; }

.sidebarLists a {
  color: #ECE5C9;
  font-family: 'Comfortaa', cursive; }

.sideTitle {
  font-family: 'Comfortaa', cursive;
  text-shadow: 1px 1px #469E6C;
  color: #ECE5C9; }

.col-4 {
  margin-left: 0px; }

.secTitle {
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
  color: #ECE5C9;
  border-bottom: 1px solid #469E6C; }

.infoWrap {
  margin-left: 0px;
  margin-top: -20px;
  padding-top: 15px;
  padding-left: 15px;
  background-color: rgba(43, 22, 17, 0.705);
  color: lightgray;
  border: 1px solid black;
  border-radius: 0px 15px 15px 0px;
  box-shadow: 2px 2px 15px #6BB5C8; }

.attractionByArea {
  padding: 10px;
  margin: 15px;
  height: 12em;
  width: 22em;
  overflow: auto;
  border: 1px solid #ECE5C9;
  background-color: #2b1611;
  color: #ECE5C9;
  border-radius: 5px;
  box-shadow: -2px -2px #ECE5C9;
  color: black;
  font-family: 'Comfortaa', cursive; }

.currentEvents {
  padding: 10px;
  margin: 15px;
  height: 12em;
  width: 22em;
  overflow: auto;
  border: 1px solid #ECE5C9;
  background-color: #2b1611;
  color: #ECE5C9;
  border-radius: 5px;
  box-shadow: -2px -2px #ECE5C9;
  font-family: 'Comfortaa', cursive; }

.searchByTime {
  padding: 10px;
  margin: 15px;
  height: 12em;
  width: 22em;
  overflow: auto;
  border: 1px solid #ECE5C9;
  background-color: #2b1611;
  color: #ECE5C9;
  border-radius: 5px;
  box-shadow: -2px -2px #ECE5C9;
  font-family: 'Comfortaa', cursive; }

.Map-Title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.541);
  border-bottom: 3px solid #6BB5C8;
  border-radius: 20px;
  text-shadow: 2px 2px #469E6C;
  color: rgba(43, 22, 17, 0.877);
  margin-top: -25px;
  margin-bottom: 20px;
  font-family: 'Comfortaa', cursive; }

#areaContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: 33% 33% 33%;
  grid-template-areas: "a1 a2 a3" "a4 . a5" "a6 a7 a8";
  margin: auto;
  padding: 10px;
  height: 600px;
  width: 600px; }

.area {
  color: lightgray;
  border-radius: 50%;
  border: 2px solid #ECE5C9;
  background: #2b1611;
  box-shadow: 2px 2px 8px black;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  line-height: 175px;
  font-family: 'Comfortaa', cursive;
  height: 200px;
  width: 200px; }

.highlight {
  z-index: 100;
  color: #54A374;
  border-radius: 50%;
  border: 10px solid rgba(230, 52, 20, 0.877);
  background: #2b1611;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  height: 250px;
  width: 250px; }

.area1 {
  grid-area: a1; }

.area1:hover {
  background-color: #730217;
  z-index: 150; }

.area2 {
  grid-area: a2; }

.area2:hover {
  background-color: #D15530;
  z-index: 150; }

.area3 {
  grid-area: a3; }

.area3:hover {
  background-color: #A37849;
  z-index: 150; }

.area4 {
  grid-area: a4; }

.area4:hover {
  background-color: #2594D9;
  z-index: 150; }

.area5 {
  grid-area: a5; }

.area5:hover {
  background-color: #E73C81;
  z-index: 150; }

.area6 {
  grid-area: a6; }

.area6:hover {
  background-color: #3E4D8C;
  z-index: 150; }

.area7 {
  grid-area: a7; }

.area7:hover {
  background-color: #730217;
  z-index: 150; }

.area8 {
  grid-area: a8; }

.area8:hover {
  background-color: rgba(248, 248, 122, 0.986);
  z-index: 150; }

.area9 {
  grid-area: a9; }

.hidden {
  display: none; }

.show {
  display: block; }

/*# sourceMappingURL=main.css.map */
